/* ===== Google Font Import - Poformsins ===== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@import "../bootsrapVendor/scss/functions";

@import "../bootsrapVendor/scss/variables";

@import "../bootsrapVendor/scss/mixins";

/* .modal-backdrop.show {
  opacity: -1.5px !important;
} */

//Akbar primary colors
$custom-colors: (
  "ak-primary": #22364c,
  "login-primary": #c52727,
);
.nav-link {
  padding: -0.5rem 1rem !important;
}

$modal-backdrop-opacity: -0.5;
$zindex-modal-backdrop: 0;
//merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../bootsrapVendor/scss/bootstrap.scss";

//base
@import "./base/global";

//animation
@import "./components/animation"; //layout
@import "./components/header";

// responsive
@import "./pages/responsive";
@import "./pages/hiddenresponsive";
@import "./pages/card";
@import "./pages/card2";
@import "./pages/loginform";

//abstract
@import "./abstract/mixins";

//utilities
@import "./utilities/button";
@import "./utilities/navtabs";

//navOffcanvas
@import "./layouts/canvas";
@import "./layouts/navcss";
//loginform
@import "./base/login";
@import "./base/sidelogin";
