@use "../abstract/mixins" as mixins;

.color-animation {
  animation: color-change 2s infinite;
  transition: 500ms;
}

@keyframes color-change {
  0% {
    color: #000;
  }

  100% {
    color: #c52727;
  }
}
