@use "../abstract/mixins" as mixins;

.header {
  padding: 1rem 5rem;
  display: flex;
  background-color: #07162d;
  justify-content: space-between;
  align-items: center;

  @include mixins.responsive(xs) {
    align-items: center;
  }

  @include mixins.responsive(md) {
    align-items: center;
  }
  @include mixins.responsive(lg) {
    padding: 1rem 5rem;
    display: flex;
    background-color: #07162d;
    justify-content: space-between;
    align-items: center;
  }

  &--menus {
    display: flex;
    list-style: none;
    margin-right: 25px;
    @include mixins.responsive(xs) {
      display: none;
    }
    @include mixins.responsive(md) {
      display: none;
    }
    @include mixins.responsive(lg) {
      display: flex;
      list-style: none;
      margin-right: 25px;
    }

    &--item {
      margin-right: 5rem !important;
    }
  }

  @include mixins.responsive(xs) {
    //css code
    padding: 1rem 2rem;
    background-color: #14589c;
  }
  @include mixins.responsive(md) {
    //css code
    padding: 1rem 2rem;
    background-color: #14589c;
  }
}

//login down arrow
.downarrow {
  &-icon {
    margin-left: 25px;
    color: white;
  }
}

//container-radio
.container-radio {
  padding: 1rem 5rem;
  @include mixins.responsive(xs) {
    padding: 1rem 2rem;
    margin-top: -2rem;
  }
  @include mixins.responsive(md) {
    padding: 1rem 17rem;
    //margin-top: -2rem;
  }
  @include mixins.responsive(lg) {
    padding: 1rem 5rem;
  }
}

//container-body
.container-body {
  padding: 1rem 0rem;

  @include mixins.responsive(lg) {
    padding: 1rem 5rem;
  }

  &-img {
    padding: 1rem 10rem;
  }

  @include mixins.responsive(lg) {
    padding: 1rem 10rem;
  }
}

//Exclusive deals
.exclusive-container {
  padding: 1rem 5rem;
  @include mixins.responsive(xs) {
    padding: 4rem 0rem;
    align-content: center;
  }
  @include mixins.responsive(md) {
    padding: 4rem 1rem;

    align-content: center;
  }
}

.Exclusivedeals-nav {
  padding: 2rem 4rem;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  @include mixins.responsive(xs) {
    padding: 2rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -6rem;
  }
  @include mixins.responsive(md) {
    padding: 2rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -6rem;
  }
  @include mixins.responsive(lg) {
    padding: 6rem 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
  }
  .text1 {
    @include mixins.responsive(xs) {
      font-size: large;
    }
  }

  &-menus {
    display: flex;
    list-style: none;
    margin-right: 25px;
    color: #000;
    &-item {
      color: #000;
      &:hover {
        padding: 10px 10px;
        font-size: 0.9rem;
        font-weight: 600;
        color: #000;
        border-bottom: 2px solid #c52727;
      }
    }

    &-link {
      padding: 0.5rem 10rem;
    }
  }
}

.card-headerer {
  background-color: #fff;
}

.Destination {
  padding: 1rem 5rem;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  @include mixins.responsive(xs) {
    padding: 1rem 1rem;

    flex-direction: column;
  }
  @include mixins.responsive(md) {
    padding: 1rem 1rem;
    flex-direction: column;
  }
  @include mixins.responsive(lg) {
    padding: 1rem 5rem;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
  }

  &-menus {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-right: 0px;
    color: #000;
    @include mixins.responsive(xs) {
      margin-top: 19px;
      flex-direction: row;
      margin-right: 140px;
      margin-left: -38px;
    }
    @include mixins.responsive(md) {
      margin-top: 19px;
      flex-direction: row;
      margin-right: 140px;
      margin-left: -26px;
    }
    @include mixins.responsive(lg) {
      display: flex;
      justify-content: space-between;
      list-style: none;
      margin-right: 91px;
      margin-left: 41px;
      align-items: center;
      justify-content: space-between;
      color: #000;
    }

    &-item {
      color: #000;
      font-weight: 700;
      &:hover {
        padding: 10px 10px;
        font-size: 0.9rem;
        font-weight: 600;
        color: #000;
        border-bottom: 2px solid #c52727;
      }
    }
  }
  &-heading {
    @include mixins.responsive(xs) {
      font-size: medium;
    }
  }

  .heading2 {
    @include mixins.responsive(xs) {
      font-weight: 300;
      flex-direction: row;
    }
  }
  .footer {
    display: flex;
    align-items: baseline;
  }
}
