@use "../abstract/mixins" as mixins;

//responsive xs
.xs-contai {
  @include mixins.responsive(xs) {
    padding: 1rem 0rem;
  }
  @include mixins.responsive(lg) {
  }
  ul {
    @include mixins.responsive(xs) {
      padding: 0rem 0rem;
    }
    @include mixins.responsive(md) {
      padding-left: 0rem;
    }
    @include mixins.responsive(lg) {
      padding: 1rem 0rem;
    }
    @include mixins.responsive(x-lg) {
      padding: 1rem 1rem;
    }
  }
}

.secondary-navigation {
  @include mixins.responsive(x-lg) {
    padding: 1rem 24rem;
  }
}

.card1 {
  @include mixins.responsive(xs) {
    display: none;

    /* &.show1 {
      @include mixins.responsive(xs) {
        display: none;
        position: fixed;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #fff;
        z-index: 3;
        transition: 500ms;

        &.show1-show2 {
          display: block;
          top: 68px;
        }

        &.a1 {
          padding: 2rem;
        }
      }
    } */
  }
  @include mixins.responsive(md) {
    display: none;
  }
  @include mixins.responsive(lg) {
    display: none;
  }
  @include mixins.responsive(x-lg) {
    display: flex;
    list-style: none;
    margin-right: 25px;
    color: #000;
    &-item {
      color: #000;
      &:hover {
        padding: 10px 10px;
        font-size: 0.9rem;
        font-weight: 600;
        color: #000;
        border-bottom: 2px solid #c52727;
      }
    }
  }
}

.anime {
  @include mixins.responsive(xs) {
    padding: 0rem 0rem;
    display: flex;
    justify-content: center;
  }
  @include mixins.responsive(md) {
    padding: 1rem 8rem;
    font-size: larger;
  }

  @include mixins.responsive(lg) {
    padding: 1rem 12rem;
    font-size: larger;
  }
  @include mixins.responsive(x-lg) {
    padding: 1rem 17rem;
    font-size: larger;
  }
}

.maincard1 {
  @include mixins.responsive(xs) {
    background-color: #1968b2;
    color: #fff;
    width: 18rem;
    height: 11rem;
    margin: 0.5em;
  }
  @include mixins.responsive(md) {
    background-color: #1968b2;
    color: #fff;
    width: 43rem;
    height: 13rem;
    margin: 0.5em;
  }
  @include mixins.responsive(lg) {
    background-color: #1968b2;
    color: #fff;
    width: 53rem;
    height: 17rem;

    margin: 0.5em;
  }
  .card-text-maincard1 {
    font-size: small;
  }
}
#myCarousel {
  @include mixins.responsive(lg) {
    margin-top: -4rem;
  }
}
.maincard2 {
  @include mixins.responsive(xs) {
    margin-top: -2rem;
    margin-left: 40px;
    height: 37px;
    width: 16rem;
    background: #d32f2f;
    border-radius: 0 0 4px 4px;
    position: relative;
    z-index: 9;
  }
  @include mixins.responsive(md) {
    margin-top: -3rem;
    margin-left: 40px;
    height: 52px;
    width: 41rem;
    background: #d32f2f;
    border-radius: 0 0 4px 4px;
    position: relative;
    z-index: 9;
  }
  @include mixins.responsive(lg) {
    margin-top: -3rem;
    margin-left: 40px;
    height: 52px;
    width: 51rem;
    background: #d32f2f;
    border-radius: 0 0 4px 4px;
    position: relative;
    z-index: 9;
  }
}
.maincard2-color {
  color: #fff;
  text-align: center;
  padding-top: 1rem;
}

.cards-wrapper {
  display: flex;
}

.hotdealdrop {
  @include mixins.responsive(x-lg) {
    display: none;
  }
}

.image-wraper-2 {
  @include mixins.responsive(xs) {
    display: flex;
  }
  @include mixins.responsive(md) {
    display: flex;
  }
  .cardwrapp {
    @include mixins.responsive(xs) {
      margin: 0 0.5em;
      width: calc(100% / 3);
    }
    @include mixins.responsive(xs) {
      margin: 0 0.5em;
      width: calc(100% / 3);
    }
  }
}

.toggler-bar {
  background-color: #fff;
  flex-direction: row-reverse;
}

.responsive-bottom {
  @include mixins.responsive(xs) {
    padding: 1rem 2rem;
    margin-top: 10px;
  }
  @include mixins.responsive(md) {
    padding: 0rem 2rem;
    margin-top: 10px;
  }
}
.r-b-para {
  @include mixins.responsive(xs) {
    margin-top: -1rem;
    font-size: x-large;
    font-weight: 600;
  }
  @include mixins.responsive(md) {
    margin-top: -1rem;
    font-size: x-large;
    font-weight: 600;
  }
}
.r-b-para-2 {
  @include mixins.responsive(md) {
    margin-right: 75px;
    margin-left: 247px;
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @include mixins.responsive(lg) {
    margin-right: 64px;
    margin-left: 419px;
    padding: 1rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.r-b-para-3 {
  @include mixins.responsive(md) {
    margin-right: opx;
    margin-left: 6px;
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.accordion {
  @include mixins.responsive(xs) {
    padding: 1rem 1rem;
    background-color: #f5f8fb;
    border-radius: 37px;
  }
  @include mixins.responsive(md) {
    padding: 1rem 1rem;
    background-color: #f5f8fb;
    border-radius: 37px;
  }
  @include mixins.responsive(lg) {
    padding: 1rem 1rem;
    background-color: #f5f8fb;
    border-radius: 37px;
  }
}

.card-bodyr {
  padding: 1rem 5rem;
  display: flex;
  list-style: none;
  margin-right: 25px;
  color: #000;
  flex-direction: column;

  @include mixins.responsive(xs) {
    display: none;
  }
  @include mixins.responsive(md) {
    display: none;
  }
  @include mixins.responsive(x-lg) {
    padding: 1rem 5rem;
    display: flex;
    list-style: none;
    margin-right: 25px;
    color: #000;
    flex-direction: column;
  }
}

.hotel-card {
  padding: 1rem 3rem;
  display: flex;
  justify-content: center;

  @include mixins.responsive(lg) {
    padding: 1rem 3rem;
    display: flex;
    justify-content: center;
  }
}

.container-body-img {
  @include mixins.responsive(x-lg) {
    padding: 4rem 19rem;
  }
}
.secondary-navtab {
  @include mixins.responsive(x-lg) {
    a:hover {
      background-color: #c52727;
      color: #fff;
    }
  }
}
.header {
  @include mixins.responsive(x-lg) {
    background-color: #07162d;
  }
}
.hiddenlg {
  @include mixins.responsive(lg) {
    display: none;
  }
}
