@use "../abstract/mixins" as mixins;

/* .button-flight-2 {
  padding: 1.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.3rem;
}
 */

.display-none {
  display: none;
  @include mixins.responsive(x-lg) {
    display: none;
  }
}
.nav_hover {
  a: {
    background-color: #fff;
    color: #1f4687;
  }
  @include mixins.responsive(xs) {
    background-color: #fff;
    color: #1f4687;
  }
}
.link_padding {
  display: block;
  padding: -0.5rem 1rem;
  @include mixins.responsive(xs) {
    display: block;
    padding: -0.5rem 1rem;
  }
}

.tripcheckbox {
  flex-direction: row-reverse;
  align-content: center;
  justify-content: space-around;
}

.hotel-card {
  @include mixins.responsive(xs) {
    padding: 2rem 1rem;
  }
}

.nav_tab_input {
  @include mixins.responsive(md) {
    width: 114%;
  }
  @include mixins.responsive(lg) {
    width: 110%;
  }
  @include mixins.responsive(x-lg) {
    padding: 0rem 2rem;
    width: 98%;
  }
}

.nav_tab_card {
  @include mixins.responsive(xs) {
  }
  @include mixins.responsive(md) {
    padding: 0.7rem 1.3rem;
    padding-right: 3rem;
    padding-left: -1rem;
  }
}
.nav_tab_card2 {
  @include mixins.responsive(md) {
    //padding: 1.5rem 6rem;
  }
  @include mixins.responsive(lg) {
    padding: 0.9rem 0rem;
  }
  @include mixins.responsive(x-lg) {
    padding: -0.1rem 0rem;
  }
}
.nav_tab_card3 {
  @include mixins.responsive(md) {
    padding: 1rem 5rem;
  }

  @include mixins.responsive(x-lg) {
    padding: 1rem -2rem;
  }
}
.nav_tab_cardw3 {
  @include mixins.responsive(md) {
    padding: 0.7rem 1.3rem;
    padding-right: 3rem;
    padding-left: -1rem;
  }
}
.nav_tab_cardw3-mumbai {
  @include mixins.responsive(md) {
    padding: 0.7rem 1.3rem;
    padding-right: 8rem;
    padding-left: -1rem;
  }
  @include mixins.responsive(lg) {
    padding: 1.4rem 1rem;
    margin-top: -7px;
    padding-right: 8rem;
    padding-left: -1rem;
  }
}

.nav_tab_card-w2-2 {
  @include mixins.responsive(lg) {
    padding: 1.3rem 0rem;
  }
}
.responsive_slider {
  @include mixins.responsive(lg) {
    display: none;
  }
}
label {
  margin-right: 40px;
}
.icon-inside {
  position: absolute;
  right: 27px;
  top: calc(50% - 11px);
  pointer-events: none;
  font-size: 18px;
  font-size: 1.5rem;
  color: #c4c3c3;
  z-index: 3;
}
.radiobutton {
  @include mixins.responsive(xs) {
    padding: 1rem 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @include mixins.responsive(md) {
    padding: 1rem 5rem;
  }
  @include mixins.responsive(lg) {
    padding: 1rem 5rem;
  }
  @include mixins.responsive(x-lg) {
    padding: 1rem 5rem;
    font-size: large;
  }
}
.radionavigation {
  @include mixins.responsive(xs) {
    padding: 1rem 3rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  @include mixins.responsive(md) {
    padding: 0rem 3rem;
  }
  @include mixins.responsive(lg) {
    padding: 1rem 7rem;
    padding-left: 1rem;
  }
  @include mixins.responsive(x-lg) {
    padding: 1rem 3rem;
  }
}
.input_type {
  width: 100%;
  border-radius: 10px;
  outline: none;
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-right: 6rem;
  padding-left: 1rem;
  box-sizing: border-box;
}
.input_type4 {
  @include mixins.responsive(lg) {
    outline: none;
    margin-left: 18px;
    box-sizing: border-box;
  }
}
.input_type6 {
  @include mixins.responsive(lg) {
    outline: none;
    margin-left: 18px;
    box-sizing: border-box;
  }
}

.input_type7 {
  @include mixins.responsive(lg) {
    outline: none;
    margin-left: 18px;
    box-sizing: border-box;
  }
}
